@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .taskUndone {
    @apply text-white;
  }
  .taskDone {
    @apply text-black line-through;
  }
  .taskDone,
  .taskUndone {
    margin-bottom: 0.5rem;
    background-color: var(--contrast-color);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;

    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .taskDone,
  .taskUndone {
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 1.5rem;
    grid-template-areas: "left right";
    margin-bottom: 1rem;
    box-sizing: border-box;
  }
  div:last-child {
    margin-bottom: 0;
  }
}
